= simple_form_for @promotion do |f|
  = f.input :pitch, maxlength: 100
  = f.input :description
  = f.input :price
  = f.input :available_on_date
  = f.input :start_time
  = f.input :end_time
  = f.input :cuisine
  = f.input :hotness
  
  = f.button :submit