<%= simple_form_for @promotion do |f| %>
  <%= f.input :pitch, maxlength: 100 %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :cuisine %>
  <%= f.button :submit %>
<% end %>


<form>
  <%= simple_form_for @promotion do |f| %>

    <div class="form-group">
      <label>Promotion Pitch</label>
      <%= f.input :pitch %>
      <input type="text" class="form-control" placeholder="Pitch">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" placeholder="Description">
    </div>

    <div class="form-group">
      <label>Price</label>
      <label class="sr-only" for="exampleInputAmount">Price</label>
      <div class="input-group">
        <div class="input-group-addon">£</div>
        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Price">
      </div>
    </div>

    <div class="form-group">
      <label>Start Time</label>
      <div class='input-group date' id='datetimepicker6'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class='form-group'>
      <label>End Time</label>
      <div class='input-group date' id='datetimepicker7'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">Image</label>
      <input type="file" id="exampleInputFile">
    </div>

    <div class="form-group">
      <label>Cuisine</label>
      <input type="text" class="form-control" placeholder="What type of food ae you serving up?">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  <% end %>
</form>

<%= simple_form_for(@promotion, wrapper: :vertical_form,wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :pitch, wrapper: :vertical_input_group %>
      <span class="input-group-addon">Name</span>
      <%= f.input_field :name, class: "form-control" %>
      <span class="input-group-addon">Append stuff</span>
    <% end %>
  </div>
 
 <% end %>

