.wrapper
  #promotions
    - @promotions.each do |promotion|
      .promotion
        .promotion_image
          =link_to (image_tag promotion.user.avatar.thumb.url), promotion
        %div{class: "promotion_content", id: "promotion_content#{promotion.id}"}
          .title
            %h2= link_to promotion.pitch, promotion
          = hidden_field_tag "promotion_from", promotion.start_time, :id => "promotion_from_#{promotion.id}", :class => "promotion_from"
          = hidden_field_tag "promotion_to", promotion.end_time, :id => "promotion_to_#{promotion.id}", :class => "promotion_to"
          %h4{ class: "countdown", id: "countdown_#{promotion.id}"} -- Days --Hours -- Mins -- Secs
          .data.clearfix
            %p.name
              = promotion.user.name
