%h1 Promotion Show

%h2= @promotion.pitch
%h2= @promotion.description
%h2= @promotion.price
%h2= @promotion.available_on_date
%h2= @promotion.start_time
%h2= @promotion.end_time
%h2= @promotion.cuisine
%h2= @promotion.hotness

=link_to "Edit", edit_promotion_path(@promotion)
=link_to "Delete", promotion_path(@promotion), method: :delete
