.container
  .panel-body
    .row
      .col-md-7
        .
          = image_tag @promotion.user.avatar.show.url
          %h2= @promotion.user.name
          %div{class: "promotion_content", id: "promotion_content#{@promotion.id}"}
            = hidden_field_tag "promotion_from", @promotion.start_time, :id => "promotion_from_#{@promotion.id}", :class => "promotion_from"
            = hidden_field_tag "promotion_to", @promotion.end_time, :id => "promotion_to_#{@promotion.id}", :class => "promotion_to"
            %h4{id: "countdown_#{@promotion.id}", :class => "countdown"} -- Days --Hours -- Mins -- Secs


            %h4= @promotion.pitch
            %h4= @promotion.description
            %h4= number_to_currency(@promotion.price, unit: '£')
            %h4= @promotion.available_on_date
            %h4= @promotion.cuisine

            -if current_user
              - if current_user.id == @promotion.user.id
                =link_to "Edit", edit_promotion_path(@promotion)
                =link_to "Delete", promotion_path(@promotion), method: :delete


            - if @promotion.is_active?
              - if user_signed_in?
                =render "charges/stripe_form", promotion: @promotion
              - else
                please login
            - else
              promo ended

          / - if user_signed_in? && @promotion.active_promotion
          /   =render "charges/stripe_form", promotion: @promotion
          / - else
          /   %strong Please login 

        .col-md-5
          #map-container
            #map-canvas

          #address
            %h4.duration
            %h4.distance
            %h4= @promotion.user.name
            %h4= @promotion.user.address
            %h4= @promotion.user.city
            %h4= @promotion.user.postcode
