.wrapper
  .panel-body
    .row
      .col-md-7
        = image_tag @promotion.user.avatar.show.url
        %h2= @promotion.user.name

        %h4#countdown -- Days --Hours -- Mins -- Secs

        %h4= @promotion.pitch
        %h4= @promotion.description
        %h4= number_to_currency(@promotion.price, unit: '£')
        %h4= @promotion.available_on_date
        = hidden_field_tag 'promotion_from', @promotion.start_time
        = hidden_field_tag 'promotion_to', @promotion.end_time
        / %h4#promotion_from= @promotion.start_time
        / %h4#promotion_to= @promotion.end_time
        %h4= @promotion.cuisine
        %h4= @promotion.hotness

        -if current_user
          - if current_user.id == @promotion.user.id
            =link_to "Edit", edit_promotion_path(@promotion)
            =link_to "Delete", promotion_path(@promotion), method: :delete
        
        =render "charges/stripe_form", promotion: @promotion 

      .col-md-5
        #map-container
          #map-canvas

        #address
          %h4= @promotion.user.name
          %h4= @promotion.user.address
          %h4= @promotion.user.city
          %h4= @promotion.user.postcode







