%html
  %head
    %title GetLunch
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCgFp1DYdJKHmPIHyOU3jhGRlgqdM45wz0"}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      .wrapper.clearfix
        #logo= link_to "FoodStop", root_path
        %nav
          = render 'devise/menu/nav_items'
    %p.notice= notice
    %p.alert= alert

    .wrapper
      = yield

