%html
  %head
    %title GetLunch
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .wrapper.clearfix
        #logo= link_to "LOGO", root_path
        %nav
          = render 'devise/menu/nav_items'
    %p.notice= notice
    %p.alert= alert
    
    = yield
