%html
  %head
    %title GetLunch
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCgFp1DYdJKHmPIHyOU3jhGRlgqdM45wz0"}
    
    = stylesheet_link_tag'application', media: 'all'
    = javascript_include_tag 'application'
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}/
    %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
    = csrf_meta_tags
  %body

   

    %header
      .wrapper.clearfix
        #logo= link_to "FoodStop", root_path
        %nav
          = render 'devise/menu/nav_items'
    %p.notice= notice
    %p.alert= alert

    .wrapper
    = yield

    .wrapper
    #sign_up.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            %h4#myModalLabel.modal-title Sign Up
          .modal-body
            = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              = f.error_notification
              = f.input :email, required: true, autofocus: true
              = f.input :name, required: true
              = f.input :tel, required: true
              = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
              = f.input :password_confirmation, required: true
              = f.hidden_field :role, value: "customer" 
              = f.button :submit, "Sign up"

    #sign_in.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} &times;
            %h4#myModalLabel.modal-title Sign In
          .modal-body
            = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              = f.input :email, required: false, autofocus: true
              = f.input :password, required: false
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
              = f.button :submit, "Sign In"
            = render "devise/shared/links"

    

 

